<html>

<head>
    <title>Login Page Head</title>
</head>

<body>
    List todo Page ${todos}

    <!-- <p th:text="|Hello, ${todos}!|" /> -->
    <p th:text="|Hello, ${name}!|" />
    <table style="border:1px solid black">
        <tr th:each="todo: ${todos}" cellpadding="1">
            <td th:text="${todo.id}"></td>
            <td th:text="${todo.userName}"></td>
            <td th:text="${todo.description}"></td>
            <td th:text="${todo.targetdate}"></td>
            <td th:text="${todo.done}"></td>
        </tr>
        <tr>
            <a href="/addtodos">Add Todo</a>
        </tr>
    </table>
</body>

</html>